/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}


/* Start Main Styling */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    color: #3c3f49;
}

a {
    text-decoration: none;
    color: #3c3f49;
}

@media screen and (max-width: 1000px) {
    .top-left-td, .top-right-td, .bottom-left-td, .bottom-right-td, .td-date, .edu, .exp {
        display: block;
    }

    .td-date, .edu, .exp {
        padding-bottom: 10px;
        padding-top: 20px;
    }

    input, textarea {
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .bottom-right-td .bottom-right-cell {
        height: 900px;
    }

    input, textarea {
        width: 500px;
    }
}



/* Table CSS Properties */

/* Table Layout */
table {
    border-collapse: collapse;
}

.top-left-td .top-left-cell, .top-right-cell {
    height: 300px;
}

.top-right-cell, .bottom-right-cell {
    width: 300px;
}

td {
    vertical-align: top;
}

/* Top Left Cell Styling */
.top-left-td, .top-left-cell {
    background-color: #fdcd8f;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 30px;
    padding-top: 28px;
}

.social-media {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.sm-facebook, .sm-twitter, .sm-github {
    margin: 6%;
}

/* Top Right Styling */
.image {
    width: 320px;
}


/* Bottom Left Styling */
.bottom-left-cell {
    margin: 20px;
    height: auto;
}

hr {
    border: 2px solid #3c3f49;
    border-radius: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid #3c3f49;
    border-radius: 5px;
    width: 140px;
    padding: 4px;
    margin-bottom: 40px;
}

.date {
    width: 150px;
}

.exp, .edu {
    border-left: 7px solid #3c3f49;
    padding-left: 20px;
    padding-bottom: 20px;
}

h5 {
    font-size: 15px;
    font-weight: bolder;
    padding-bottom: 5px;
}

h4 {
    font-size: 18px;
    padding-bottom: 10px;
}

/* Bottom Right Styling */
.bottom-right-td .bottom-right-cell {
    background-color: #3c3f49;
    color: #f7f7f7;
    padding: 10px;
}

.abt-me, .contact-me, .skills-me, .hobbies-me {
    border: 1px solid #fdcd8f;
    padding: 5px;
    width: 90px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
}

.abt-details, .contact-details, .skills-details {
    margin-bottom: 30px;
}

.photoshop, .illustrator, .coreldraw, .figma, .html, .css, .javascript, .skill-level {
    padding-bottom: 5px;
    padding-right: 10px;
}

.map-marker, .phone, .email {
    padding-right: 10px;
    padding-bottom: 5px;
}


/* Circle Properties */
.fa-circle {
    margin-left: 2px;
}

.active {
    color: #fdcd8f;
}

/* Contact Form Styling */

.contact-form {
    background-color: #fdcd8f;
    padding: 20px;
    text-align: center;
}

input, textarea {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: none;
    border: 2px solid #3c3f49;
    color: #3c3f49;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.get-in-touch {
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 30px;
}

label {
    font-weight: bolder;
}

.submit {
    background-color: #3c3f49;
    color: #f7f7f7;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    background-color: #fdcd8f;
    border: 2px solid #3c3f49;
    color: #3c3f49;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}

button:hover {
    background-color: #3c3f49;
    color: #fdcd8f;
}